body{
    margin: 0;
}
nav{
    display: grid;
    grid-template-columns:20% 60%;
    background-color: #000;
    color: #fff;
    width: 100%;
}
#admin-title{
    font-size:40px;
    text-align: center;
}

.admin-content{
    position: absolute;
    display: grid;
    grid-template-rows:1fr 1fr ;
    width:50%;
}

.content{
    padding:5px;
    display: grid;
    grid-template-columns:70% 20%;
    background-color: #f9f9f9;
}
.article{
    padding:0.5%;
    background-color: #fff;
    display: grid;
    grid-template-rows:5% 40% 5%;
    border:1px solid #ededed;
    border-radius:5px;
    text-decoration: none;
    color:#000;
    margin-bottom: 2%;
}

.article:hover{
    cursor: pointer;
}
